{% extends 'base.html' %}
{% block content %}
  <label for="customRange3" class="form-label">나에 대해 알아봐!</label>
  <input type="range" class="form-range" min="0" max="5" step="0.5" id="customRange3">
  <form action="" method="POST">
      <h4>1.사용자이름:{{user.username}}</h4>
      <br>
      <h3>2.사용자 이메일주소:{{user.email}}</h3>
      <br>
      <h4>3.나의 학교와 학과는"한국항공대학교 소프트웨어학과"</h4>
      <br>
      <h4>4.내가 맡고 있는 프로젝트는?팀빌!!</h4>
      <br>
      <h4>5.내가 제일 좋아하는건?사람 만나는 거 ㅎㅎ</h4>
      <br>
      <h4>6.진짜 우리집 주소!</h4>
      <br>
  </form>
  <div id="map" style="width:500px;height:400px;"></div>
  <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=3ac50c6ee34871ede6e40145f1e13203"></script>
  <script>
    var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
        mapOption = { 
            center: new kakao.maps.LatLng(35.9388937,126.9678051), // 지도의 중심좌표
            level: 3 // 지도의 확대 레벨
        };
    
    var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다
    
    // 마커가 표시될 위치입니다 
    var markerPosition  = new kakao.maps.LatLng(35.9388937,126.9678051); 
    
    // 마커를 생성합니다
    var marker = new kakao.maps.Marker({
        position: markerPosition
    });
    
    // 마커가 지도 위에 표시되도록 설정합니다
    marker.setMap(map);
    
    // 아래 코드는 지도 위의 마커를 제거하는 코드입니다
    // marker.setMap(null);    
    </script>

{% endblock %}