<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="{% url 'new' %}">글쓰기</a>
              <a class="nav-link" href="{% url 'Aboutme' %}">Aboutme</a>
              <a class="nav-link" href="#">Pricing</a>
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">disabled</a>
            </div>
          </div>
        </div>
      </nav>
      <div class="container">
        <label for="customRange3" class="form-label">나에 대해 알아봐!</label>
        <input type="range" class="form-range" min="0" max="5" step="0.5" id="customRange3">
        <form action="" method="GET">
            <h4>1.나의 이름은:이건영</h4>
            <br>
            <h4>2.내 고향은:전주</h4>
            <br>
            <h4>3.나의 학교와 학과는"한국항공대학교 소프트웨어학과"</h4>
            <br>
            <h4>4.내가 가장 좋아하는 음식은?"술!"</h4>
            <br>
            <h4>5.나의 MBTI?ENFJ!</h4>
            <br>
            <h4>6.내가 맡고 있는 프로젝트는?팀빌!!</h4>
            <br>
            <h4>7.내가 제일 좋아하는건?사람 만나는 거 ㅎㅎ</h4>
            <br>
            <h4>8.내 전화번호:010-5644-9390</h4>
            <br>
            <h4>9.내가 제일 좋아하는 운동은?야구,축구</h4>
            <br>
            <h4>10.내 나이는?23살</h4>
            <br>
            <div class="toast-container">
                <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                  <div class="toast-header">
                    <img src="..." class="rounded me-2" alt="...">
                    <strong class="me-auto">Bootstrap</strong>
                    <small class="text-muted">just now</small>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                  </div>
                  <div class="toast-body">
                    이게나야
                  </div>
                </div>
                
                

            
       
        
        </form>
    </div>
    
</body>
</html>
